@font-face{
    font-family: revofit;
    src: url(../webfonts/revofit.ttf);
}
@font-face {
    font-family: revofitdouble;
    src: url(../webfonts/revofitdouble.ttf)
}
@font-face{
    font-family: lemondropbold;
    src: url(../webfonts/lemondropbold.ttf);
}
@font-face{
    font-family: larkesans;
    src: url(../webfonts/larkesansbold.ttf);
}
@font-face{
    font-family: purebold;
    src: url(../webfonts/purebolddurango.ttf);
}



