@import url(../css/myfonts.css);


*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 80px;
    height: auto;
    position: sticky;
    top: 0;
    background: linear-gradient(#000,#666);
    justify-content: space-between;
    z-index: 9999;
    box-shadow: 0px 2px 3px rgb(255, 255, 255);
    font-family: revofitdouble;
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    margin: 0;
    padding: 0;
}

.logo{
    position: absolute;
    left: 60px;
    top: 10px;
}

.logo img{
    width: 20%;
}


nav ul{
    width: 650px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    list-style: none;
    text-align: center;


}

nav ul li{
    width: 150px;
    height: 75px;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
}



nav ul li a{
    width: 150px;
    height: 75px;
    display: block;
    position: relative;
    color: white;
    text-decoration: none;
    transition: 0.8s;
    text-align: center;
    line-height: 75px;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}

nav ul li a:hover{
    background: rgba(0, 0, 0, 0.8)

}

.l2{
    width: 100%;
    text-align: center;
    background: linear-gradient(#000,#666);
    margin: 0;
    padding: 0;

}
 
#submenu {
    width: 150px;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
    position: absolute;
    right: 172.5px;
}
#dropdown:hover #submenu {
    height: 300px;
}

main{
    width: 100%;
    height: auto;
    position: relative;
}

.search{
    position: fixed;
    top: 150px;
    left: -155px;
    width: 200px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    padding: 5px;
    border-radius: 0 30px 30px  0;
    transition: all 0.5s
}

.search:hover{
    left: 0;
}

.search input{
    position: absolute;
    width: 150px;
    height: 30px;
    top: 12.5px;
    left: 2px;
    border-radius: 20px;
}

.search img{
    position: absolute;
    width: 32px;
    height: 32px;
    right: 5px;
    top: 9px;
    margin: 5px;
}



.mainbg{
    width: 100%;
    height: 700px;
    background-color: #fddd00;
}

.bgshadow{
    filter: drop-shadow(-2px 20px 5px rgba(50, 50, 0, 0.5))
}

.bg{
    width: 90%;
    height: 700px;
    margin: auto;
    clip-path: circle(60% at 50% 0%);

}

.bg video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    bottom: 80px;
}

.sports{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 200px;
    position: relative;
    bottom: 120px;
    margin: auto;
}

.text1{
    width: 100%;
    height: 100%;
    background: rgba(253,221,0,.7);
    border-radius: 20px;
    font-family: revofitdouble;
    font-size: 1.5em;
    overflow: hidden;
    line-height: 90px;
    clip-path: circle(0% at 0 0);
    color: #000;
    transition: all 0.7s;
}

.text1 a{
    text-decoration: none;
    color: #000;
}

.c1{
    width: 20%;
    height: 200px;
    background: #fff url(../images/swimmingacademy.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 1px #fddd00;
    border-radius: 20px;
    margin: 2%;
    box-shadow: 0 0 15px 2px;
}

.c1:hover .text1{
    clip-path: circle(60% at 0 0);
}


.c2{
    width: 20%;
    height: 200px;
    background: #fff url(../images/tennisacademy.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 1px #fddd00;
    border-radius: 20px;
    margin: 2%;
    box-shadow: 0 0 15px 2px;
}

.c2:hover .text1{
    clip-path: circle(60% at 0 0);
}

.c3{
    width: 20%;
    height: 200px;
    background: #fff url(../images/footballacademy.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 1px #fddd00;
    border-radius: 20px;
    margin: 2%;
    box-shadow: 0 0 15px 2px;
}

.c3:hover .text1{
    clip-path: circle(60% at 0 0);
}

.c4{
    width: 20%;
    height: 200px;
    background: #fff url(../images/squashacademy.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 1px #fddd00;
    border-radius: 20px;
    margin: 2%;
    box-shadow: 0 0 15px 2px;
}

.c4:hover .text1{
    clip-path: circle(60% at 0 0);
}

h1{
    text-align: center;
    color: #434c9c;
    font-family: revofitdouble;
    font-size: 2em;
    padding: 20px;
}

hr{
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
}

.about{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-height: 350px;
    height: auto;
    overflow: hidden;
    margin: auto;
}

.leftside{
    width: 45%;
    height: 350px;
}

.leftside h3{
    position: absolute;
    font-family: revofitdouble;
    color: #434c9c;
    font-size: 1.3em;
    left: 0;
}



.leftside p{
    position: absolute;
    width: 45%;
    top: 70px;
    font-family: revofit;
    color: #434c9c;
    overflow: hidden;
    margin-left: 20px;
    text-transform: capitalize;

}

.rightside{
    width: 45%;
    height: 200px;
    background: url(../images/about.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 40px;
    background-position: center;
    filter: drop-shadow(-16px 16px 10px rgba(0, 0, 0, 0.59));
}

.path{
    width: 100%;
    height: 200px;
    background: rgba(255,255,255,.2);
    clip-path: circle(0% at 50% 50%);
    transition: all 0.5s;
}

.rightside:hover .path{
    clip-path: circle(100% at 50% 50%);
}


.schedule{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    min-height: 350px;
    height: auto;
    margin: auto;
}

.schedule table tr:nth-child(even){
    background: rgba(0,0,0,.2);
}

table{
    width: 100%;
    height: auto;
    border-collapse: collapse;
    font-family: revofitdouble;
    font-size: 1em;
}

.schedule table tr{
    padding: 15px;
}

.schedule table td{
    border-style: hidden;
    padding: 10px;
    text-align: center;
}

.news{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    width: 80%;
    min-height: 400px;
    height: auto;
    overflow: hidden;
    margin: auto;
    margin-bottom: 25px;

}

.news figure{
    width: 30%;
    height: auto;
    padding: 5px;
    margin:1%;
    border:1px solid #fddd00;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.583);
    border-radius: 20px;
}

.news figure img{
    width: 95%;
    padding:7px;
    border-radius: 20px;
}

.news figure figcaption{
    padding: 5px;
}

.news figure figcaption h3{
    font-family: revofitdouble;
    margin-bottom: 20px;
    color: #434c9c;

}



.news figure figcaption p{
    font-family: revofit;
    margin-bottom: 20px;

}



.vid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 80%;
    min-height: 310px;
    height: auto;
    background-color: #fddd00;
    margin: auto;
    overflow: hidden;

}


.left{
    position: absolute;
    left: 0;
    width: 49%;
    height: 100%;
    background: url(../images/n2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 10px;
    overflow: hidden;
}

.right{
    position: absolute;
    right: 0;
    width: 48%;
    height: 100%;
    margin: 10px;
    overflow: hidden;
}

footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height:auto;
    overflow: hidden;
}

footer p{
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 10px;
    background: linear-gradient(#000,#666);
    font-family: revofit;
    color: #fff;
    font-size: 0.7em;
}






















































